<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>IndexedDB</title>
    <script src="http://code.jquery.com/jquery-1.7.js"></script>  
</head>
<body>
    <p id="comment">Create and Open, Delete IndexedDB</p>
    <button id="delete">1. delete IndexedDB(sampleDB)</button><br>
    <button id="create">2. create IndexedDB(sampleDB)</button><br>    
    <script>       
        var dbName = 'sampleDB';
        var dbVersion = 1;
        var database;

        var createIdxDB = function() {
    
            var request = indexedDB.open(dbName, dbVersion);    // IDBOpenDBRequest object
            request.onsuccess = function(event) {            	
                database = event.currentTarget.result;    // IDBDatabase object
                alert(database.version + ' 버전의 IndexedDB 오픈');
            };
            request.onerror = function(event) {
                alert('IndexedDB 오픈 중 에러 발생');
            };
            request.onupgradeneeded = function(event) { // 첫 실행 또는 db 업그레이드시 먼저 실행된다.
            	alert(event.currentTarget.result.version + ' 버전의 IndexedDB 업그레이드');
            };
        };        
       
        var deleteIdxDB = function() {          
            var request = indexedDB.deleteDatabase(dbName);    // IDBOpenDBRequest object
            request.onsuccess = function(event) {
                alert('IndexedDB 삭제');
            };
            request.onerror = function(event) {
                alert('IndexedDB 삭제 중 에러 발생');
            };  
            request.onblocked = function() {
                alert('DB가오픈된 상태라 Blocked된 상태임 페이지 unload 시 삭제됨!!')
            } 
        };

        // create 태그영역에서 click 이벤트 발생하면 createIdxDB 호출하라
        $('#create').on('click', createIdxDB);
        // 또는 $('create').click(createIdxDB); // click 메쏘드가 별도로 존재함. 자주사용하는 25개 메쏘드 중 하나
        $('#delete').on('click', deleteIdxDB);     
    </script>
</body>
</html>
