<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta title="오늘의 운세 ">
<title>오늘의 운세</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
    <h1>행운의로또</h1>
    <input type='button' id='today' value='로또번호 눌러눌러'/>
    <ul id='main' style='display:none;'>
        <li id='liLotto'></li>
        <li id='hide' style='display:none;'>
            <h3></h3>
            <article></article>
        </li>
    </ul>
</body>

<script>
  $(document).ready(function() {		
		var getRandTestString = function(myLucky){
			var RandomData = [];
    			RandomData = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23', '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34', '35', '36', '37', '38', '39', '40', '41', '42', '43', '44', '45'];
    		var resultLotto = Math.floor(Math.random() * RandomData.length);
			return RandomData[resultLotto];
		}
		
		//카테고리 별 운세 출력
		var selectLotto = function() {
			var value = getRandTestString(myLucky);
			$('#liLotto').html('');
			$('#liLotto').append($('#hide').clone().children());
			$('#liLotto'+' h3').text('로또번호는');
			$('#liLotto'+' article').text(value + '입니다.');
		};
		
    	$('#today').click(
    		function(){
    			$('#main').css('display', 'block');
        		selectLotto();
    		}
    	);
	});
</script>
</html>
